{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    <link rel="stylesheet" href="{% static 'style.css' %}" >
    <title>status palsu</title>
</head>
<body>
    <div class="container">
        <div class="col justify-content-center">
            <h1 class="hello">Halo, apa kabar?</h1>
            <form method="POST" action="{% url 'status:terima' %}">
                {% csrf_token %}
                {{ status_form }}
                <input type="submit" value="Posting Statusmu" name="submit-status">
            </form>

            <table>
                {% for status in status_obj %}
                <tr>
                    <th><h3>{{ status.status }}</h3></th>
                    <td>{{ status.waktu_submit }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
</body>
</html>